@import "./scss/fonts";
@import "./scss/reset";
@import "./scss/mixins";
@import "./scss/variables";

@media (max-width: 700px) {
  body {
    @include flex-center(center, center);

    #modal {
      @include wh-size(100vw, 100vh);
      @include flex-center(center, center);
      background: rgba(0, 0, 0, 0.5);
      position: fixed;
      left: 0px;

      .fail {
        @include modal-styles();
        h2 {
          color: $plain-color-black;
        }
        svg {
          color: $modal-svg-close-color;
        }
      }
      .success {
        @include modal-styles();
        h2 {
          color: $plain-color-black;
        }
        svg {
          border: 1px solid $modal-svg-check-color;
          color: white;
          background-color: $modal-svg-check-color;
          border-radius: 50%;
          padding: 2px;
        }
        h2 {
          margin-top: 14px;
        }
      }
    }
    h1 {
      @include text-styles(127px, $main-text-color, center, 54px);
    }
    h2 {
      @include text-styles(8px, $second-text-color, center, 16px);
    }
    img {
      margin-top: 100px;
      object-fit: contain;
    }

    .btns {
      @include flex-center(center, center);
      flex-direction: column;
      margin-top: 85px;

      .btn {
        all: unset;
        border: 1px solid $primary-color;
        border-radius: 16px;
        padding: 16px;
        width: 100%;
        text-align: center;
      }

      .btn-dark {
        background-color: $primary-color;
        color: #fff;
        margin-bottom: 15px;
      }
      .btn-light {
        background-color: #fff;
        color: $primary-color;
      }
      a {
        all: unset;
      }
    }
  }

  .logo-container {
    @include flex-center(center, center);
  }
  .mobile-container {
    @include flex-center(center, center);
  }
}
.img-container {
  @include flex-center(center, center);
  flex-direction: column;
  h2 {
    font-size: 24px;
    color: $primary-color;
    margin-bottom: 8px;
  }
  p {
    font-size: 16px;
    color: #f27cac;
  }
}
.btn-section {
  @include flex-center(space-between, center);

  .tip-btn {
    all: unset;
    box-shadow: 0px 0px 25px #00000012;
    -webkit-box-shadow: 0px 0px 25px #00000012;
    -moz-box-shadow: 0px 0px 25px #00000012;
    padding: 1rem 1.5rem;
    color: $primary-color;
    border: 1px solid #eef0f3;
    margin: 50px 16px 40px 16px;
    border-radius: 16px;
    font-size: 24px;
  }
  .tip-btn:focus {
    border-color: #93d331;
  }
  .tip-btn:active {
    border-color: #93d331;
  }
}
.input-section {
  @include flex-center(center, center);
  flex-direction: column;
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    label {
      font-size: 11px;
      margin-bottom: 5px;
      color: #8a8a8e;
    }
    input {
      all: unset;
    }
    padding: 8px 1rem;
    color: $primary-color;
    border: 1px solid #eef0f3;
    width: 90%;
    margin-bottom: 22px;
    border-radius: 16px;
  }

  button {
    all: unset;
    padding: 1rem;
    color: #fff;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    width: 82%;
    border-radius: 16px;
    text-align: center;
  }
}
.success {
  @include flex-center(center, center);
  flex-direction: column;
  width: 50%;
  text-align: center;
  @include modal-content-style;
}
.fail {
  @include flex-center(center, center);
  @include modal-content-style;
  flex-direction: column;
  text-align: center;
  .fail--btn--divider {
    border-top: 1px solid rgba(154, 154, 154, 0.124);
    width: 100%;
    padding-top: 13px;
  }
}
