$plain-color-black: #000;
$plain-color-white: #fff;
$primary-color: #170738;
$main-text-color: #60c8c8;
$second-text-color: #f27cac;
$modal-btn-color: #5220b1;
$modal-svg-check-color: #9dd838;
$modal-svg-close-color: #d53943;

$box-shadow-black-36: 0px 3px 36px 0px rgba(0, 0, 0, 0.36);

$p16: 16px;
$w270: 270px;
$br: 10px;
